<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>添加好友：{{userName|safe}}</title>
        <meta http-equiv="refresh" content="10">
        <script type="text/javascript"src="../static/js/jquery-3.6.0.min.js"></script>
        <style>
            .message{
                width: 300px;
                height: 60px;
            }
        </style>
    </head>
    <body>
        申请好友：<input type="text" id="friendUID" name="friendUID" value="请输入好友ID">
        <button id="apply">申请</button><button id="returnChat">返回聊天</button><br>
        新的朋友：<div id="appList" name="appList"></div><br>
        {{appData|safe}}
        <script type="text/javascript">
            $("#friendUID").keyup(function(e){
                if(e.keyCode==13)$("#apply").click();
            });
            $("#apply").click(function(){
                var userID = $("#friendUID").val();
                $.post("/applyFriends",{userID:userID},function(rtn){
                    if (rtn[0]) {
                        alert("申请成功！");
                        location.reload();
                    } else {
                        alert("申请失败，请检查好友ID是否正确！");
                    }
                });
            });
            $("#returnChat").click(function(){
                location.replace("/chatRoom");
            });
        </script>
    </body>
</html>
