<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>聊天室：{{userName|safe}}</title>
  <meta http-equiv="refresh" content="10">
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <style>
        .message{
            width: 300px;
            height: 60px;
        }
    </style>
 </head>
 <body>
    {{searchData|safe}}
    <button id="goBack">返回</button>
    <script type="text/javascript">
		$("#goBack").click(function(){
            location.replace("/chatRoom");
		});
    </script>
 </body>
</html>
